.pwd.lock
.resolv.conf.systemd-resolved.bak
.updated
PackageKit/
UPower/
X11/
adduser.conf
aliases
aliases.db
alternatives/
apparmor.d/
apparmor/
apport/
apt/
bash.bashrc
bash_completion
bash_completion.d/
bindresvport.blacklist
byobu/
ca-certificates.conf
cloud/
console-setup/
cron.d/
cron.daily/
cron.hourly/
cron.monthly/
cron.weekly/
cron.yearly/
crontab
cryptsetup-initramfs/
crypttab
dbus-1/
debconf.conf
debian_version
default/
deluser.conf
depmod.d/
dhcpcd.conf
dpkg/
e2scrub.conf
environment
ethertypes
fonts/
fstab
fuse.conf
fwupd/
gai.conf
gnutls/
groff/
group
group-
grub.d/
gshadow
gshadow-
hdparm.conf
host.conf
hostname
hosts
hosts.allow
hosts.deny
init.d/
initramfs-tools/
inputrc
insserv.conf.d/
iproute2/
iscsi/
issue
issue.net
kernel/
ld.so.cache
ld.so.conf
ld.so.conf.d/
ldap/
legal
libaudit.conf
libblockdev/
libibverbs.d/
libnl-3/
locale.alias
locale.conf
locale.gen
localtime
logcheck/
login.defs
logrotate.conf
lsb-release
lvm/
machine-id
magic
magic.mime
mailname
manpath.config
mdadm/
mime.types
mke2fs.conf
modprobe.d/
modules
modules-load.d/
mtab
multipath.conf
multipath/
nanorc
needrestart/
netconfig
netplan/
network/
networks
newt/
nftables.conf
nsswitch.conf
os-release
overlayroot.conf
pam.conf
pam.d/
passwd
passwd-
perl/
pki/
pm/
pollinate/
postfix/
ppp/
profile
profile.d/
protocols
python3.12/
python3/
rc0.d/
rc1.d/
rc2.d/
rc3.d/
rc4.d/
rc5.d/
rc6.d/
rcS.d/
resolv.conf
resolvconf/
rmt
rpc
rsyslog.d/
screenrc
security/
selinux/
sensors.d/
sensors3.conf
services
sgml/
shadow
shadow-
shells
skel/
sos/
ssl/
subgid
subgid-
subuid
subuid-
sudo.conf
sudo_logsrvd.conf
sudoers
sudoers.d/
supercat/
sysctl.conf
sysctl.d/
sysstat/
systemd/
terminfo/
thermald/
timezone
tmpfiles.d/
ubuntu-advantage/
ucf.conf
udev/
udisks2/
ufw/
update-manager/
update-motd.d/
usb_modeswitch.conf
vconsole.conf
vim/
vmware-tools/
vtrgb
wgetrc
xattr.conf
xdg/
xml/
zsh_command_not_found
apache2/
init/
mecabrc
mysql/
php/
snmp/
ssh/moduli
ssh/ssh_config
ssh/ssh_config.d
ssh/sshd_config.d
ssh/ssh_host_ecdsa_key
ssh/ssh_host_ecdsa_key.pub
ssh/ssh_host_ed25519_key
ssh/ssh_host_ed25519_key.pub
ssh/ssh_host_rsa_key
ssh/ssh_host_rsa_key.pub
ssh/ssh_import_id
logrotate.d/alternatives
logrotate.d/apport
logrotate.d/bootlog
logrotate.d/cloud-init
logrotate.d/mysql-server
logrotate.d/ubuntu-pro-client
logrotate.d/unattended-upgrades
logrotate.d/zabbix-agent
logrotate.d/apache2
logrotate.d/apt
logrotate.d/btmp
logrotate.d/dpkg
logrotate.d/rsyslog
logrotate.d/ufw
logrotate.d/wtmp
logrotate.d/zabbix-server-mysql
logrotate.d/fail2ban
fail2ban/
monit/
bind/bind.keys
bind/db.0
bind/db.127
bind/db.255
bind/db.empty
bind/db.local
bind/named.conf
bind/named.conf.default-zones
bind/rndc.key
bind/zones.rfc1918
zabbix/apache.conf
zabbix/web/
zabbix/zabbix_agentd.conf
zabbix/zabbix_agentd.d/
zabbix/zabbix_server.d/
dhcp/dhclient-exit-hooks.d/
